<!DOCTYPE HTML>
<html lang="en">
 <head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>hdxw</title>

 </head>
 <style>	body{
background-image: url(https://www.boileddog.top/sends.png);
background-size:600px 397px;
background-repeat:no-repeat;
background-attachment: fixed;
background-position: center ;
}</style>
 <body>
 <center><font size="10">这是华⼤新闻的站点</font></center>
 <br/>
 <center>今天是{{var}}，欢迎光临！</center>
 <br/>


 <br/>
 <center><table border="1">
  {% for i,j in zd.items() %}
  <tr>
   <td><font color="blue" size="4">{{i}}</font> </td>
   <td><a href={{j}}><font color="red" size="4">{{j}}</font></a></td>

  </tr>

 {%endfor%}
  </tr>

 </table></center>
 </body>
 </html>
